

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>It Store Productos</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> {% endcomment %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="{% static 'main/css/buscador_0.2.css' %}" rel="stylesheet"/>
</head>
<body>

  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a href="#" class="navbar-brand ms-4">It Store</a>

    <button type="button" name="button" class="navbar-toggler navbar-toggler-right" data-bs-toggle="collapse" data-bs-target="#navb">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-md">
      <div id="navb" class="navbar-collapse collapse hide">
        <ul class="nav navbar-nav">
          {% for empresa in prodXproveedor %}
          <li class="navbar-item d-block">
            <a href="#" class="nav-link"><span class="d-block">{{empresa.proveedor}}</span> <p class="text-center pb-0 mb-0">{{empresa.num_prod}}</p></a>
          </li>
          {% endfor %}
        </ul>
  
      </div>
    </div>
 

  </nav>

  <div class="container">
    <br><br>

    <h1>Productos IT Store</h1>

    <br><br>
  </div>
  <div class="container">
  <div class="col-md-8 mb-3 mb-md-0">

    <form class="form-inline" action="{% url 'buscar_productos' %}" method="get">
<div class="input-group">
<input name="q" type="search" class="form-control rounded" required placeholder="Buscar productos ..." aria-label="Buscar" aria-describedby="buscar-addon" />
<button type="submit" class="btn btn-outline-primary">Buscar</button>
</div>

    </form>
        </div>
  </div>
  <div class="container">
    <table class="table">
      <thead class="thead-dark">
      <tr>
          <th scope="col">#1</th>
          <th scope="col">Producto</th>
          <th scope="col">Soles</th>
          <th scope="col">Dolares</th>
          <th scope="col">Categoria</th>
          <th scope="col">Marca</th>
          <th scope="col">Proveedor</th>
          <th scope="col">Fecha</th>
          
      </tr>
      </thead>
      <tbody>
    {% for semana in object_list %}
    <tr>
    <tr>
        <th scope="row">{{ forloop.counter0|add:page_obj.start_index }}</th>
        
        <td>{{ semana.titulo }}</td>

        {% if semana.precio_soles %}
          <td>S/{{ semana.precio_soles|floatformat:2 }}</td>
        {% else %}
          <td></td>
        {% endif %}

        {% if semana.precio_dolares %}
          <td>${{ semana.precio_dolares|floatformat:2 }}</td>
        {% else %}
          <td></td>
        {% endif %}
        <td>{{ semana.categoria }}</td>
        <td>{{ semana.marca }}</td>
        <td>{{ semana.proveedor }}</td>
        <td>{{ semana.fecha|date:"d M " }}</td>
    </tr>
    {% empty %}
        <p>No hay productos en la base.</p>
    {% endfor %}
  </tbody>
</table>
  </div>
    
  <!-- Pagination -->
  <div class='pagination justify-content-center'>
    {% if page_obj.has_previous %}
      <a href='?q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}'>Previous </a>
    {% endif %}

    <span class='mx-4'>
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
      <a href='?q={{ request.GET.q }}&page={{ page_obj.next_page_number }}' > Next</a>
    {% endif %}
  </div>
  <!-- END Pagination -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>